ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #232323; }

a, a:hover, a:focus {
  text-decoration: none; }

p {
  margin: 0; }

input, textarea {
  -webkit-box-shadow: 0 0 0 1000px #fff inset; }

img {
  max-width: 100%; }

label {
  margin-bottom: 0; }

button {
  outline: none; }
  button:focus {
    outline: none; }

@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedMedium.eot");
  src: url("../fonts/SVN-GothamRoundedMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedMedium.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedMedium.woff") format("woff"), url("../fonts/SVN-GothamRoundedMedium.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedMedium.svg#SVN-GothamRoundedMedium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedLight.eot");
  src: url("../fonts/SVN-GothamRoundedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedLight.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedLight.woff") format("woff"), url("../fonts/SVN-GothamRoundedLight.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedLight.svg#SVN-GothamRoundedLight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedItalic.eot");
  src: url("../fonts/SVN-GothamRoundedItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedItalic.svg#SVN-GothamRoundedItalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedMediumItalic.eot");
  src: url("../fonts/SVN-GothamRoundedMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedMediumItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedMediumItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedMediumItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedMediumItalic.svg#SVN-GothamRoundedMediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedLightItalic.eot");
  src: url("../fonts/SVN-GothamRoundedLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedLightItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedLightItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedLightItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedLightItalic.svg#SVN-GothamRoundedLightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedBold.eot");
  src: url("../fonts/SVN-GothamRoundedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedBold.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedBold.woff") format("woff"), url("../fonts/SVN-GothamRoundedBold.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedBold.svg#SVN-GothamRoundedBold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedBoldItalic.eot");
  src: url("../fonts/SVN-GothamRoundedBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedBoldItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedBoldItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedBoldItalic.svg#SVN-GothamRoundedBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRounded.eot");
  src: url("../fonts/SVN-GothamRounded.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRounded.woff2") format("woff2"), url("../fonts/SVN-GothamRounded.woff") format("woff"), url("../fonts/SVN-GothamRounded.ttf") format("truetype"), url("../fonts/SVN-GothamRounded.svg#SVN-GothamRounded") format("svg");
  font-weight: normal;
  font-style: normal; }
@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes cubic-block {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  70% {
    -webkit-transform: translateY(7px);
    transform: translateY(7px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes rotate-circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
.ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; }

.rippleWave {
  position: absolute;
  border-radius: 50%;
  transform: scale(0.7);
  background: white;
  opacity: 0.45;
  animation: ripple 2s forwards; }

@keyframes ripple {
  to {
    transform: scale(24);
    opacity: 0; } }
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-family: "SVN-Gotham Rounded"; }

.body-wrap {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%; }

html, body {
  height: 100%; }

.push {
  height: 147px; }

.dp-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.overlay {
  background: rgba(22, 73, 137, 0.3882352941);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

.container-login {
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 991px) {
    .container-login {
      width: 600px; } }
  @media only screen and (max-width: 767px) {
    .container-login {
      width: 100%; } }

.row-login {
  margin: 0 -4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-vsd {
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-pc-6 {
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative; }

.col-msb-30 {
  padding: 0 15px;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%; }
  @media (max-width: 991px) {
    .col-msb-30 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-2 {
  padding: 0 9px;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-msb-70 {
  padding: 0 15px;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%; }
  @media (max-width: 991px) {
    .col-msb-70 {
      display: none; } }

.col-login-6 {
  padding: 0 4px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.row-msb-9 {
  margin: 0 -9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-msb-22 {
  padding: 0 9px;
  -ms-flex: 0 0 22%;
  flex: 0 0 22%;
  max-width: 22%;
  position: relative; }
  @media (max-width: 1320px) {
    .col-msb-22 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (max-width: 1280px) and (min-width: 1200px) {
    .col-msb-22 {
      padding: 0 9px;
      -ms-flex: 0 0 22%;
      flex: 0 0 22%;
      max-width: 22%;
      position: relative; } }

.col-msb-78 {
  padding: 0 9px;
  -ms-flex: 0 0 78%;
  flex: 0 0 78%;
  max-width: 78%;
  position: relative; }
  @media (max-width: 1320px) {
    .col-msb-78 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (max-width: 1280px) and (min-width: 1200px) {
    .col-msb-78 {
      padding: 0 9px;
      -ms-flex: 0 0 78%;
      flex: 0 0 78%;
      max-width: 78%;
      position: relative; } }

.col-msb-12 {
  padding: 0 9px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative; }

.row-pc {
  margin: 0 -9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-pc-3 {
  padding: 0 9px;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }
  @media only screen and (max-width: 767px) {
    .col-pc-3 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-4 {
  padding: 0 9px;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%; }
  @media only screen and (max-width: 767px) {
    .col-pc-4 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-6 {
  padding: 0 9px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }
  @media only screen and (max-width: 767px) {
    .col-pc-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-8 {
  padding: 0 9px;
  -ms-flex: 0 0 66.6666%;
  flex: 0 0 66.6666%;
  max-width: 66.6666%; }
  @media only screen and (max-width: 767px) {
    .col-pc-8 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-12 {
  padding: 0 9px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.container-newadd {
  max-width: 1236px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px; }

.col-msb-44 {
  padding: 0 9px;
  -ms-flex: 0 0 44%;
  flex: 0 0 44%;
  max-width: 44%;
  position: relative; }

.col-msb-12x {
  padding: 0 9px;
  -ms-flex: 0 0 12%;
  flex: 0 0 12%;
  max-width: 12%;
  position: relative; }

.row-flex-between {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between; }

.container {
  max-width: 1119px;
  padding: 0 15px;
  width: 100%; }

.line-main {
  background: #707070;
  width: 18px;
  height: 3px;
  border-radius: 10px;
  display: block;
  margin-bottom: 3px;
  pointer-events: none;
  transition: all 0.3s; }
  .line-main:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 1600px) {
    .line-main {
      width: 20px;
      height: 3px;
      margin-bottom: 4px; } }
  @media only screen and (max-width: 1366px) {
    .line-main {
      width: 20px;
      height: 3px;
      margin-bottom: 4px; } }

.change-icon-mb .line-1 {
  transform: translateY(9px) translateX(0) rotate(45deg);
  transition: all 0.3s; }
  @media only screen and (max-width: 1600px) {
    .change-icon-mb .line-1 {
      transform: translateY(8px) translateX(0) rotate(45deg); } }
.change-icon-mb .line-2 {
  opacity: 0;
  transition: all 0.3s; }
.change-icon-mb .line-3 {
  transform: translateY(-9px) translateX(0) rotate(-46deg);
  transition: all 0.3s; }
  @media only screen and (max-width: 1600px) {
    .change-icon-mb .line-3 {
      transform: translateY(-6px) translateX(0) rotate(-46deg); } }

.logo {
  float: left;
  margin: 22px 0 0; }

#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 31px;
  height: 31px;
  background: #164989;
  color: #fff;
  text-align: center;
  line-height: 31px;
  font-size: 18px;
  font-weight: bold;
  background-size: 100% 100%;
  display: none;
  z-index: 100;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px; }
  #back-to-top:hover {
    background: #08336b; }

button[data-ripple] {
  position: relative; }

/*# sourceMappingURL=main.css.map */
