ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #232323; }

a, a:hover, a:focus {
  text-decoration: none; }

p {
  margin: 0; }

input, textarea {
  -webkit-box-shadow: 0 0 0 1000px #fff inset; }

img {
  max-width: 100%; }

label {
  margin-bottom: 0; }

button {
  outline: none; }
  button:focus {
    outline: none; }

@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedMedium.eot");
  src: url("../fonts/SVN-GothamRoundedMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedMedium.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedMedium.woff") format("woff"), url("../fonts/SVN-GothamRoundedMedium.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedMedium.svg#SVN-GothamRoundedMedium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedLight.eot");
  src: url("../fonts/SVN-GothamRoundedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedLight.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedLight.woff") format("woff"), url("../fonts/SVN-GothamRoundedLight.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedLight.svg#SVN-GothamRoundedLight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedItalic.eot");
  src: url("../fonts/SVN-GothamRoundedItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedItalic.svg#SVN-GothamRoundedItalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedMediumItalic.eot");
  src: url("../fonts/SVN-GothamRoundedMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedMediumItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedMediumItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedMediumItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedMediumItalic.svg#SVN-GothamRoundedMediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedLightItalic.eot");
  src: url("../fonts/SVN-GothamRoundedLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedLightItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedLightItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedLightItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedLightItalic.svg#SVN-GothamRoundedLightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedBold.eot");
  src: url("../fonts/SVN-GothamRoundedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedBold.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedBold.woff") format("woff"), url("../fonts/SVN-GothamRoundedBold.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedBold.svg#SVN-GothamRoundedBold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedBoldItalic.eot");
  src: url("../fonts/SVN-GothamRoundedBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedBoldItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedBoldItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedBoldItalic.svg#SVN-GothamRoundedBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRounded.eot");
  src: url("../fonts/SVN-GothamRounded.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRounded.woff2") format("woff2"), url("../fonts/SVN-GothamRounded.woff") format("woff"), url("../fonts/SVN-GothamRounded.ttf") format("truetype"), url("../fonts/SVN-GothamRounded.svg#SVN-GothamRounded") format("svg");
  font-weight: normal;
  font-style: normal; }
@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes cubic-block {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  70% {
    -webkit-transform: translateY(7px);
    transform: translateY(7px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes rotate-circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
.ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; }

.rippleWave {
  position: absolute;
  border-radius: 50%;
  transform: scale(0.7);
  background: white;
  opacity: 0.45;
  animation: ripple 2s forwards; }

@keyframes ripple {
  to {
    transform: scale(24);
    opacity: 0; } }
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 17px;
  font-family: "SVN-Gotham Rounded"; }

.body-wrap {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%; }

.push {
  height: 147px; }

.dp-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.overlay {
  background: rgba(22, 73, 137, 0.3882352941);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

@media only screen and (max-width: 767px) {
  .hidden-767 {
    display: none; } }
.container-login {
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 991px) {
    .container-login {
      width: 600px; } }
  @media only screen and (max-width: 767px) {
    .container-login {
      width: 100%; } }

.row-login {
  margin: 0 -4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-vsd {
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-pc-6 {
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative; }

.col-msb-30 {
  padding: 0 15px;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%; }
  @media (max-width: 991px) {
    .col-msb-30 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-2 {
  padding: 0 9px;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-msb-70 {
  padding: 0 15px;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%; }
  @media (max-width: 991px) {
    .col-msb-70 {
      display: none; } }

.col-login-6 {
  padding: 0 4px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.row-msb-9 {
  margin: 0 -9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-msb-22 {
  padding: 0 9px;
  -ms-flex: 0 0 22%;
  flex: 0 0 22%;
  max-width: 22%;
  position: relative; }
  @media (max-width: 1320px) {
    .col-msb-22 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (max-width: 1280px) and (min-width: 1200px) {
    .col-msb-22 {
      padding: 0 9px;
      -ms-flex: 0 0 22%;
      flex: 0 0 22%;
      max-width: 22%;
      position: relative; } }

.col-msb-78 {
  padding: 0 9px;
  -ms-flex: 0 0 78%;
  flex: 0 0 78%;
  max-width: 78%;
  position: relative; }
  @media (max-width: 1320px) {
    .col-msb-78 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (max-width: 1280px) and (min-width: 1200px) {
    .col-msb-78 {
      padding: 0 9px;
      -ms-flex: 0 0 78%;
      flex: 0 0 78%;
      max-width: 78%;
      position: relative; } }

.col-msb-12 {
  padding: 0 9px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative; }

.row-pc {
  margin: 0 -9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-pc-3 {
  padding: 0 9px;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }
  @media only screen and (max-width: 767px) {
    .col-pc-3 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-4 {
  padding: 0 9px;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%; }
  @media only screen and (max-width: 767px) {
    .col-pc-4 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-6 {
  padding: 0 9px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }
  @media only screen and (max-width: 767px) {
    .col-pc-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-8 {
  padding: 0 9px;
  -ms-flex: 0 0 66.6666%;
  flex: 0 0 66.6666%;
  max-width: 66.6666%; }
  @media only screen and (max-width: 767px) {
    .col-pc-8 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-12 {
  padding: 0 9px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.container-newadd {
  max-width: 1236px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px; }

.col-msb-44 {
  padding: 0 9px;
  -ms-flex: 0 0 44%;
  flex: 0 0 44%;
  max-width: 44%;
  position: relative; }

.col-msb-12x {
  padding: 0 9px;
  -ms-flex: 0 0 12%;
  flex: 0 0 12%;
  max-width: 12%;
  position: relative; }

.row-flex-between {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between; }

.container {
  max-width: 1170px;
  padding: 0 15px;
  width: 100%; }

.line-main {
  background: #707070;
  width: 18px;
  height: 3px;
  border-radius: 10px;
  display: block;
  margin-bottom: 3px;
  pointer-events: none;
  transition: all 0.3s; }
  .line-main:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 1600px) {
    .line-main {
      width: 20px;
      height: 3px;
      margin-bottom: 4px; } }
  @media only screen and (max-width: 1366px) {
    .line-main {
      width: 20px;
      height: 3px;
      margin-bottom: 4px; } }

.change-icon-mb .line-1 {
  transform: translateY(9px) translateX(0) rotate(45deg);
  transition: all 0.3s; }
  @media only screen and (max-width: 1600px) {
    .change-icon-mb .line-1 {
      transform: translateY(8px) translateX(0) rotate(45deg); } }
.change-icon-mb .line-2 {
  opacity: 0;
  transition: all 0.3s; }
.change-icon-mb .line-3 {
  transform: translateY(-9px) translateX(0) rotate(-46deg);
  transition: all 0.3s; }
  @media only screen and (max-width: 1600px) {
    .change-icon-mb .line-3 {
      transform: translateY(-6px) translateX(0) rotate(-46deg); } }

.logo {
  float: left;
  padding: 15px 0; }
  .logo h1 {
    margin-bottom: 0; }
    .logo h1 a img {
      width: 204px; }
  @media (max-width: 991px) {
    .logo {
      padding: 0;
      position: absolute;
      left: 50%;
      top: -3px;
      transform: translateX(-50%); }
      .logo h1 a img {
        width: 165px; } }

.head-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 999;
  transition: all 0.3s; }
  .head-top.fixed {
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.14);
    transition: all 0.3s; }
  .head-top.fixed-page-child {
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.14);
    transition: all 0.3s; }
  @media (max-width: 991px) {
    .head-top {
      position: fixed;
      background: #fff;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.14);
      transition: all 0.3s;
      height: 51px; } }

@media (max-width: 991px) {
  header img {
    padding-top: 53px; } }
@media (max-width: 991px) {
  header .logo img {
    padding-top: 0; } }

#wrapper {
  position: relative; }

header {
  position: relative;
  overflow: hidden; }

.banner-left, .banner-bottom, .banner-right, .banner-top {
  position: absolute;
  top: 29%;
  left: 11%; }
  @media only screen and (max-width: 576px) {
    .banner-left, .banner-bottom, .banner-right, .banner-top {
      display: none; } }

.banner-left {
  top: auto;
  bottom: 2%;
  left: 4%; }
  @media (max-width: 1366px) {
    .banner-left img {
      width: 70%; } }
  @media (max-width: 991px) {
    .banner-left {
      left: 1%; }
      .banner-left img {
        width: 45%; } }
  @media only screen and (max-width: 767px) {
    .banner-left img {
      width: 27%; } }

.banner-bottom {
  top: auto;
  left: 33%;
  bottom: 2%; }
  @media (max-width: 1366px) {
    .banner-bottom img {
      width: 70%; } }
  @media (max-width: 991px) {
    .banner-bottom img {
      width: 45%; } }
  @media only screen and (max-width: 767px) {
    .banner-bottom img {
      width: 27%; } }

.banner-right {
  top: auto;
  left: auto;
  bottom: 5%;
  right: 20%; }
  @media (max-width: 1366px) {
    .banner-right {
      right: 13%; }
      .banner-right img {
        width: 70%; } }
  @media (max-width: 991px) {
    .banner-right {
      right: -10%; }
      .banner-right img {
        width: 45%; } }
  @media only screen and (max-width: 767px) {
    .banner-right {
      right: -33%; }
      .banner-right img {
        width: 27%; } }

.banner-top {
  top: 0;
  left: auto;
  right: 12%; }
  @media (max-width: 1366px) {
    .banner-top {
      right: -2%; }
      .banner-top img {
        width: 70%; } }
  @media (max-width: 991px) {
    .banner-top {
      right: -11%; }
      .banner-top img {
        width: 45%; } }
  @media only screen and (max-width: 767px) {
    .banner-top {
      right: -25%; }
      .banner-top img {
        width: 27%; } }

.sub-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  @media (max-width: 991px) {
    .sub-banner {
      width: 100%; } }
  @media only screen and (max-width: 576px) {
    .sub-banner {
      top: 63%; } }
  .sub-banner .slogan {
    font-size: 48px;
    line-height: 44px;
    margin-bottom: 24px; }
    @media (max-width: 1600px) {
      .sub-banner .slogan {
        font-size: 37px; } }
    @media only screen and (max-width: 1199px) {
      .sub-banner .slogan {
        font-size: 28px; } }
    @media (max-width: 991px) {
      .sub-banner .slogan {
        font-size: 22px;
        margin-bottom: 10px; } }
    @media only screen and (max-width: 576px) {
      .sub-banner .slogan {
        font-size: 18px;
        line-height: 15px; } }
  .sub-banner .sub-slogan {
    font-size: 22px;
    line-height: 27px;
    color: #4A4A4A;
    margin-bottom: 33px; }
    @media (max-width: 991px) {
      .sub-banner .sub-slogan {
        font-size: 16px;
        margin-bottom: 15px; } }

.menu-private {
  display: none; }
  @media (max-width: 991px) {
    .menu-private {
      display: block;
      position: fixed;
      left: 15px;
      top: 17px; } }
  .menu-private button {
    background: transparent;
    border: none;
    padding: 0;
    outline: none; }

.line-main {
  background: #707070;
  width: 18px;
  height: 3px;
  border-radius: 10px;
  display: block;
  margin-bottom: 3px;
  pointer-events: none;
  transition: all 0.3s; }
  .line-main:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 1600px) {
    .line-main {
      width: 20px;
      height: 3px;
      margin-bottom: 4px; } }
  @media only screen and (max-width: 1366px) {
    .line-main {
      width: 20px;
      height: 3px;
      margin-bottom: 4px; } }

.change-icon-mb .line-1 {
  transform: translateY(9px) translateX(0) rotate(45deg);
  transition: all 0.3s; }
  @media only screen and (max-width: 1600px) {
    .change-icon-mb .line-1 {
      transform: translateY(8px) translateX(0) rotate(45deg); } }
.change-icon-mb .line-2 {
  opacity: 0;
  transition: all 0.3s; }
.change-icon-mb .line-3 {
  transform: translateY(-9px) translateX(0) rotate(-46deg);
  transition: all 0.3s; }
  @media only screen and (max-width: 1600px) {
    .change-icon-mb .line-3 {
      transform: translateY(-6px) translateX(0) rotate(-46deg); } }

.head-right {
  float: right;
  padding: 22px 0;
  display: flex;
  align-items: center; }
  @media (max-width: 991px) {
    .head-right {
      padding: 9px 0; } }
  .head-right .navigation {
    display: inline-block; }
    @media (max-width: 991px) {
      .head-right .navigation {
        position: fixed;
        width: 300px;
        top: 52px;
        left: 0;
        height: 100%;
        left: -300px;
        transition: all 0.3s; }
        .head-right .navigation.open-mb {
          left: 0;
          transition: all 0.3s; } }
    @media only screen and (max-width: 576px) {
      .head-right .navigation {
        width: 100%;
        left: -100%; } }
    .head-right .navigation .has-dropdown .dropdown-child {
      width: 183px;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 80px;
      transition: all 0.3s;
      border-radius: 10px;
      overflow: hidden; }
      .head-right .navigation .has-dropdown .dropdown-child li {
        display: block; }
        .head-right .navigation .has-dropdown .dropdown-child li a {
          background: #349a1b;
          display: block;
          color: #fff;
          padding: 10px 14px; }
          .head-right .navigation .has-dropdown .dropdown-child li a:hover {
            background: rgba(52, 154, 27, 0.78); }
      @media (max-width: 991px) {
        .head-right .navigation .has-dropdown .dropdown-child {
          position: unset;
          opacity: 1;
          visibility: unset;
          top: 0;
          width: 100%;
          border-radius: 0;
          transition: unset; }
          .head-right .navigation .has-dropdown .dropdown-child li a {
            padding: 10px 15px 10px 35px;
            background: #fff;
            color: #202020; }
            .head-right .navigation .has-dropdown .dropdown-child li a:hover {
              background: #E5EBE4; } }
    .head-right .navigation .has-dropdown:hover .dropdown-child {
      top: 35px;
      transition: all 0.3s;
      opacity: 1;
      visibility: visible; }
      @media (max-width: 991px) {
        .head-right .navigation .has-dropdown:hover .dropdown-child {
          position: unset;
          opacity: unset;
          visibility: unset;
          transition: unset; } }
    .head-right .navigation .has-dropdown > a {
      display: inline-block !important; }
    .head-right .navigation .has-dropdown i {
      transition: all 0.3s; }
      @media (max-width: 991px) {
        .head-right .navigation .has-dropdown i {
          float: right;
          margin-top: 17px; } }
    .head-right .navigation .has-dropdown.rotate-up i {
      transform: rotate(180deg);
      transition: all 0.3s; }
    .head-right .navigation .menu > li {
      float: left;
      margin-right: 2px;
      position: relative;
      border-radius: 100px; }
      @media (max-width: 991px) {
        .head-right .navigation .menu > li {
          margin-right: 0; } }
      .head-right .navigation .menu > li:last-child {
        margin-right: 0; }
      .head-right .navigation .menu > li > a {
        display: block;
        background: transparent;
        padding: 9px 14px;
        color: #202020; }
      .head-right .navigation .menu > li i {
        color: #202020;
        margin-left: 0;
        margin-right: 9px; }
      .head-right .navigation .menu > li:hover {
        background: #E5EBE4;
        color: #202020; }
        @media (max-width: 991px) {
          .head-right .navigation .menu > li:hover {
            background: none; }
            .head-right .navigation .menu > li:hover > a {
              color: #349a1b; } }
    @media (max-width: 991px) {
      .head-right .navigation .menu {
        background: #fff;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.14);
        height: 100%; }
        .head-right .navigation .menu > li {
          display: block;
          float: unset; }
          .head-right .navigation .menu > li > a {
            padding: 15px 15px;
            border-radius: 0; } }
  .head-right .btn-blockx {
    display: inline-block;
    margin-left: 34px; }

section.about-us {
  background: #F8F8F8;
  padding: 132px 0 102px; }
  @media (max-width: 991px) {
    section.about-us {
      padding: 50px 0 50px; } }
  @media only screen and (max-width: 767px) {
    section.about-us {
      padding: 25px 0; } }
  @media only screen and (max-width: 576px) {
    section.about-us {
      padding: 20px 0; } }

.txt-sc {
  color: #349A1B;
  margin-bottom: 16px;
  text-transform: uppercase; }
  @media only screen and (max-width: 576px) {
    .txt-sc {
      margin-bottom: 10px; } }

.title-section {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 13px;
  font-weight: 500; }
  @media (max-width: 991px) {
    .title-section {
      font-size: 26px; } }
  @media only screen and (max-width: 767px) {
    .title-section {
      font-size: 22px;
      line-height: 29px; } }
  @media only screen and (max-width: 576px) {
    .title-section {
      font-size: 18px; } }

.sub-title {
  font-size: 18px;
  line-height: 26px;
  color: #4A4A4A;
  margin-bottom: 44px; }
  @media (max-width: 991px) {
    .sub-title {
      margin-bottom: 15px; } }

.sub-title-bottom {
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  margin-bottom: 57px; }
  @media (max-width: 991px) {
    .sub-title-bottom {
      margin-bottom: 37px; } }
  @media only screen and (max-width: 767px) {
    .sub-title-bottom {
      margin-bottom: 25px; } }

.list-services li {
  width: 250px;
  height: 221px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(213, 219, 222, 0.3);
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 29px;
  float: left; }
  @media only screen and (max-width: 1199px) {
    .list-services li {
      width: 200px;
      height: 186px; } }
  @media (max-width: 991px) {
    .list-services li {
      width: 170px;
      height: 170px;
      margin-right: 7px;
      margin-bottom: 10px; } }
  @media only screen and (max-width: 767px) {
    .list-services li {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px; } }
  @media only screen and (max-width: 576px) {
    .list-services li {
      display: flex;
      align-items: center;
      height: auto; } }
  .list-services li img {
    display: block; }
    @media only screen and (max-width: 576px) {
      .list-services li img {
        margin: 0; } }
  .list-services li .txt-services {
    font-size: 18px;
    line-height: 20px;
    text-align: center; }
  .list-services li:nth-child(1) img {
    margin: 20px auto 16px; }
    @media only screen and (max-width: 1199px) {
      .list-services li:nth-child(1) img {
        width: 110px; } }
    @media only screen and (max-width: 576px) {
      .list-services li:nth-child(1) img {
        margin: 15px; } }
  .list-services li:nth-child(2) {
    margin-right: 0;
    margin-top: -30px; }
    @media only screen and (max-width: 1199px) {
      .list-services li:nth-child(2) {
        margin-top: 0; } }
    .list-services li:nth-child(2) img {
      margin: 23px auto 15px; }
      @media only screen and (max-width: 1199px) {
        .list-services li:nth-child(2) img {
          width: 110px; } }
      @media only screen and (max-width: 576px) {
        .list-services li:nth-child(2) img {
          margin: 15px; } }
  .list-services li:nth-child(3) img {
    margin: 24px auto 15px; }
    @media only screen and (max-width: 1199px) {
      .list-services li:nth-child(3) img {
        width: 110px; } }
    @media only screen and (max-width: 576px) {
      .list-services li:nth-child(3) img {
        margin: 15px; } }
  .list-services li:nth-child(4) {
    margin-right: 0;
    margin-top: -30px; }
    @media only screen and (max-width: 1199px) {
      .list-services li:nth-child(4) {
        margin-top: 0; } }
    .list-services li:nth-child(4) img {
      margin: 23px auto 15px; }
      @media only screen and (max-width: 1199px) {
        .list-services li:nth-child(4) img {
          width: 110px; } }
      @media only screen and (max-width: 576px) {
        .list-services li:nth-child(4) img {
          margin: 15px; } }

.section-procedure {
  padding: 100px 0;
  background: #fff url("../img/produce.png") no-repeat;
  background-position: 100% 100%;
  background-size: contain;
  overflow: hidden; }
  .section-procedure .title-section {
    margin-bottom: 49px; }
    @media only screen and (max-width: 767px) {
      .section-procedure .title-section {
        margin-bottom: 30px; } }
    @media only screen and (max-width: 576px) {
      .section-procedure .title-section {
        margin-bottom: 20px; } }
  @media (max-width: 991px) {
    .section-procedure {
      padding: 50px 0; } }
  @media only screen and (max-width: 767px) {
    .section-procedure {
      padding: 25px 0; } }
  @media only screen and (max-width: 576px) {
    .section-procedure {
      padding: 20px 0;
      background: #fff; } }

.list-procedure li {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .list-procedure li:last-child {
    margin-bottom: 0; }
  .list-procedure li .number-order {
    font-size: 24px;
    width: 50px;
    height: 50px;
    background: #349A1B;
    color: #fff;
    border-radius: 50%;
    display: block;
    margin-right: 28px;
    text-align: center;
    line-height: 50px; }
    @media only screen and (max-width: 576px) {
      .list-procedure li .number-order {
        margin-right: 0;
        margin-bottom: 15px; } }
  .list-procedure li .block-step {
    background: #F8F8F8;
    border-radius: 3px;
    padding: 29px 23px 18px;
    width: 652px; }
    @media (max-width: 991px) {
      .list-procedure li .block-step {
        width: calc(100% - 78px);
        padding: 15px 15px 15px; } }
    @media only screen and (max-width: 767px) {
      .list-procedure li .block-step {
        padding: 15px 15px 15px; } }
    @media only screen and (max-width: 576px) {
      .list-procedure li .block-step {
        width: 100%; } }
    .list-procedure li .block-step .name-step {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 4px; }
      @media (max-width: 991px) {
        .list-procedure li .block-step .name-step {
          font-size: 20px; } }
      @media only screen and (max-width: 767px) {
        .list-procedure li .block-step .name-step {
          font-size: 18px; } }
      @media only screen and (max-width: 576px) {
        .list-procedure li .block-step .name-step {
          font-size: 16px; } }
    .list-procedure li .block-step .sub-step {
      font-size: 14px;
      line-height: 20px;
      overflow: hidden;
      -webkit-box-orient: vertical;
      white-space: normal;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      margin-bottom: 7px; }
  @media only screen and (max-width: 576px) {
    .list-procedure li {
      flex-direction: column; } }

.section-app {
  padding: 130px 0;
  background: #F8F8F8;
  overflow: hidden; }
  @media (max-width: 991px) {
    .section-app {
      padding: 50px 0; } }
  @media only screen and (max-width: 767px) {
    .section-app {
      padding: 25px 0; } }
  @media only screen and (max-width: 576px) {
    .section-app {
      padding: 20px 0; } }

.title-app {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: 500; }
  .title-app span {
    color: #349A1B; }
  @media (max-width: 991px) {
    .title-app {
      font-size: 26px;
      margin-bottom: 30px; } }
  @media only screen and (max-width: 767px) {
    .title-app {
      font-size: 22px;
      margin-bottom: 20px; } }
  @media only screen and (max-width: 576px) {
    .title-app {
      line-height: 29px;
      font-size: 18px; } }

.list-utilies li {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 35px; }
  .list-utilies li i {
    color: #349A1B;
    margin-right: 24px; }
  .list-utilies li:last-child {
    margin-bottom: 51px; }
  @media (max-width: 991px) {
    .list-utilies li {
      margin-bottom: 20px; }
      .list-utilies li i {
        float: left;
        margin-top: 7px; }
      .list-utilies li span {
        width: calc(100% - 40px);
        float: left; }
      .list-utilies li:after {
        content: '';
        clear: both;
        display: table; }
      .list-utilies li:last-child {
        margin-bottom: 30px; } }
  @media only screen and (max-width: 576px) {
    .list-utilies li {
      margin-bottom: 15px; }
      .list-utilies li:last-child {
        margin-bottom: 25px; } }

.down-experience {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
  color: #349A1B; }
  .down-experience:hover {
    text-decoration: underline;
    color: #349A1B; }
  @media only screen and (max-width: 767px) {
    .down-experience {
      margin-bottom: 15px; } }

.icon-phone {
  float: right;
  padding-right: 60px; }
  @media (max-width: 991px) {
    .icon-phone {
      padding-right: 0; } }

.section-partner {
  padding: 98px 0; }
  .section-partner .title-section {
    margin-bottom: 76px; }
    @media (max-width: 991px) {
      .section-partner .title-section {
        margin-bottom: 30px; } }
  @media (max-width: 991px) {
    .section-partner {
      padding: 50px 0; } }
  @media only screen and (max-width: 767px) {
    .section-partner {
      padding: 25px 0; } }
  @media only screen and (max-width: 576px) {
    .section-partner {
      padding: 20px 0; }
      .section-partner img {
        display: block;
        margin: 0 auto; } }

.box-img-partner {
  float: left;
  height: 165px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 0px #000;
  display: flex;
  align-items: center; }
  .box-img-partner img {
    display: block;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); }

.block-name {
  float: left;
  margin-top: 55px; }
  .block-name .name-partner {
    font-size: 23px; }
    @media only screen and (max-width: 767px) {
      .block-name .name-partner {
        font-size: 20px; } }
    @media only screen and (max-width: 576px) {
      .block-name .name-partner {
        font-size: 16px; } }
  @media only screen and (max-width: 576px) {
    .block-name {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px; } }
  .block-name .sub-partner {
    color: #a3a1a1; }
    @media only screen and (max-width: 576px) {
      .block-name .sub-partner {
        text-align: center; } }

.txt-partner {
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .txt-partner p {
    padding: 15px 30px;
    text-align: center;
    line-height: 22px; }
  .txt-partner .qoute-left {
    position: absolute;
    left: 0;
    bottom: 0; }
    @media only screen and (max-width: 767px) {
      .txt-partner .qoute-left {
        left: 15px; } }
  .txt-partner .qoute-right {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg); }
    @media only screen and (max-width: 767px) {
      .txt-partner .qoute-right {
        right: 15px; } }

.slick-partner .slick-dots {
  bottom: -65px; }
  @media only screen and (max-width: 767px) {
    .slick-partner .slick-dots {
      bottom: -31px; } }
.slick-partner .slick-dots li button:before {
  width: 10px;
  height: 10px;
  background: #3a9c19;
  border-radius: 50%;
  font-family: unset;
  content: '';
  border: 1px solid #3a9c19;
  padding: 2px; }

.banner-services {
  padding-top: 85px; }
  @media (max-width: 991px) {
    .banner-services {
      padding-top: 53px; }
      .banner-services img {
        padding-top: 0; } }

.section-detail-services {
  padding: 100px 0 50px; }
  @media (max-width: 991px) {
    .section-detail-services {
      padding: 50px 0; } }
  @media only screen and (max-width: 767px) {
    .section-detail-services {
      padding: 25px 0; } }
  @media only screen and (max-width: 576px) {
    .section-detail-services {
      padding: 20px 0; } }

.title-page-child {
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 27px;
  position: relative;
  margin-bottom: 30px; }
  @media (max-width: 991px) {
    .title-page-child {
      font-size: 25px;
      padding-bottom: 8px;
      margin-bottom: 30px; } }
  @media only screen and (max-width: 767px) {
    .title-page-child {
      font-size: 22px; } }
  @media only screen and (max-width: 576px) {
    .title-page-child {
      font-size: 18px; } }
  .title-page-child:after {
    content: '';
    width: 85px;
    height: 5px;
    background: #349A1B;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    left: 0; }

.box-services {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);
  border-radius: 5px;
  padding: 47px 29px; }
  .box-services .sub-services {
    font-size: 14px;
    line-height: 20px;
    color: #898989;
    text-align: center; }
  @media (max-width: 991px) {
    .box-services {
      padding: 25px 15px; } }
  @media only screen and (max-width: 767px) {
    .box-services {
      margin-bottom: 30px; } }
  @media only screen and (max-width: 576px) {
    .box-services {
      margin-bottom: 20px; } }

.title-services {
  font-size: 22px;
  line-height: 27px;
  color: #349A1B;
  margin-bottom: 30px;
  text-align: center; }
  @media (max-width: 991px) {
    .title-services {
      font-size: 20px;
      margin-bottom: 15px; } }
  @media only screen and (max-width: 767px) {
    .title-services {
      font-size: 18px; } }
  @media only screen and (max-width: 576px) {
    .title-services {
      font-size: 16px; } }

.main-page-child {
  background: #F8F8F8; }

.section-price {
  padding: 50px 0; }
  .section-price .title-page-child {
    margin-bottom: 36px; }
  @media (max-width: 991px) {
    .section-price {
      padding: 50px 0; } }
  @media only screen and (max-width: 767px) {
    .section-price {
      padding: 25px 0; } }
  @media only screen and (max-width: 576px) {
    .section-price {
      padding: 20px 0; } }

.block-price {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);
  border-radius: 5px;
  padding: 3px 32px;
  margin-bottom: 30px; }
  .block-price .item-pro {
    padding: 21px 0;
    border-top: 1px dashed #DADADA;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 15px; }
    @media only screen and (max-width: 576px) {
      .block-price .item-pro {
        margin: 0; } }
    .block-price .item-pro .item-services {
      color: #4D4D4D;
      font-weight: 500; }
      @media only screen and (max-width: 767px) {
        .block-price .item-pro .item-services {
          margin-bottom: 15px; } }
    .block-price .item-pro .txt-price {
      font-weight: 500;
      color: #F89F17; }
  @media (max-width: 991px) {
    .block-price {
      padding: 3px 15px; } }

.mg-15 {
  margin: 0 -15px; }

.br-top-none:first-child .item-pro, .br-top-none:nth-child(2) .item-pro {
  border-top: none; }
@media only screen and (max-width: 767px) {
  .br-top-none:nth-child(2) .item-pro {
    border-top: 1px dashed #dadada; } }

.block-white {
  background: #FFFFFF;
  border-radius: 3px;
  padding: 59px 32px; }
  @media (max-width: 991px) {
    .block-white {
      padding: 50px 15px; } }
  @media only screen and (max-width: 767px) {
    .block-white {
      padding: 25px 15px; } }
  @media only screen and (max-width: 576px) {
    .block-white {
      padding: 20px 15px; } }

.rate-pp {
  display: flex;
  align-items: center;
  padding-bottom: 26px;
  border-bottom: 1px solid #DADADA;
  margin-bottom: 30px; }
  .rate-pp .point-rate {
    font-size: 72px;
    line-height: 57px;
    margin-right: 17px;
    font-weight: 500; }
    @media (max-width: 991px) {
      .rate-pp .point-rate {
        font-size: 55px; } }
    @media only screen and (max-width: 767px) {
      .rate-pp .point-rate {
        font-size: 45px; } }
  @media only screen and (max-width: 767px) {
    .rate-pp {
      padding-bottom: 20px;
      margin-bottom: 15px; } }

.star-rate i {
  color: #C4C4C4;
  font-size: 34px;
  margin-right: 7px; }
  @media (max-width: 991px) {
    .star-rate i {
      font-size: 30px; } }
  @media only screen and (max-width: 767px) {
    .star-rate i {
      font-size: 25px; } }
.star-rate .start-rated {
  color: #EDAE65; }

.rate-right .star-rate {
  margin-bottom: 8px; }
.rate-right .number-pp-rate {
  color: #4D4D4D; }

.your-rate {
  margin-bottom: 5px; }
  .your-rate .star-rate {
    margin-bottom: 12px; }
    .your-rate .star-rate i {
      font-size: 25px; }
    @media only screen and (max-width: 767px) {
      .your-rate .star-rate i {
        font-size: 20px; } }
  .your-rate .txt-your-rate {
    height: 102px;
    border: 1px solid #898989;
    border-radius: 3px;
    margin-bottom: 19px;
    width: 100%;
    resize: vertical;
    padding: 14px 11px; }

.item-comment {
  border-bottom: 1px solid #DADADA;
  padding: 25px 0; }
  @media only screen and (max-width: 767px) {
    .item-comment {
      padding: 20px 0; } }
  @media only screen and (max-width: 576px) {
    .item-comment {
      padding: 15px 0; } }
  .item-comment:last-child {
    border-bottom: none; }
  .item-comment .name-cmt {
    margin-bottom: 4px; }
    .item-comment .name-cmt span {
      font-size: 16px;
      line-height: 20px;
      margin-right: 5px; }
    .item-comment .name-cmt .star-rate {
      display: inline-block; }
      .item-comment .name-cmt .star-rate i {
        font-size: 14px;
        margin-right: 0; }
  .item-comment .date-cmt {
    font-size: 10px;
    line-height: 12px;
    color: #898989;
    margin-bottom: 11px; }
  .item-comment .txt-cmt {
    line-height: 20px;
    color: #4D4D4D; }

.fix-100 {
  height: 100px;
  clear: both; }
  @media (max-width: 991px) {
    .fix-100 {
      height: 50px; } }
  @media only screen and (max-width: 767px) {
    .fix-100 {
      height: 25px; } }
  @media only screen and (max-width: 576px) {
    .fix-100 {
      height: 20px; } }

.banner-services {
  position: relative; }
  .banner-services .bread-crumb {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%; }
    @media (max-width: 991px) {
      .banner-services .bread-crumb {
        top: 53px; } }
    .banner-services .bread-crumb ul {
      padding: 18px 0 56px; }
      .banner-services .bread-crumb ul li {
        display: inline-block; }
        .banner-services .bread-crumb ul li a {
          font-size: 12px;
          line-height: 15px;
          color: #7a7a7a; }
          .banner-services .bread-crumb ul li a:hover {
            color: #349A1B;
            text-decoration: underline; }
        .banner-services .bread-crumb ul li i {
          margin: 0 10px;
          color: #7a7a7a; }

.box-call {
  width: 682px;
  position: absolute;
  top: 176px;
  left: calc((100% - 1140px)/2); }
  .box-call .block-call {
    background: #FFFFFF;
    padding: 47px 29px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25); }
    @media only screen and (max-width: 767px) {
      .box-call .block-call {
        padding: 20px 15px; } }
  @media (max-width: 1300px) {
    .box-call {
      position: unset;
      margin-top: 50px;
      width: 100%;
      padding: 0 15px; } }

.item-info {
  margin-bottom: 20px; }
  .item-info label {
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 9px;
    display: block; }
    .item-info label span {
      color: red; }
  .item-info input, .item-info select, .item-info textarea {
    border: 1px solid #898989;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 5px 20px;
    -webkit-appearance: none; }
  .item-info textarea {
    height: 135px; }
  .item-info i.fas.fa-angle-down.active {
    transform: rotate(180deg);
    margin-top: -8px; }

.box-field {
  position: relative; }
  .box-field i {
    color: #898989;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); }

.box-zone {
  display: flex;
  align-items: center; }
  .box-zone .name-from {
    width: 50px;
    float: left; }
  .box-zone .box-field {
    width: calc(100% - 50px); }
  @media only screen and (max-width: 767px) {
    .box-zone {
      margin-bottom: 20px; } }

.fix-252 {
  height: 252px;
  background: #fff; }
  @media (max-width: 1366px) {
    .fix-252 {
      height: 325px; } }
  @media (max-width: 1300px) {
    .fix-252 {
      height: 50px; } }
  @media only screen and (max-width: 767px) {
    .fix-252 {
      height: 25px; } }
  @media only screen and (max-width: 576px) {
    .fix-252 {
      height: 20px; } }

.section-question {
  padding: 113px 0 80px; }
  @media (max-width: 991px) {
    .section-question {
      padding: 50px 0; } }
  @media only screen and (max-width: 767px) {
    .section-question {
      padding: 25px 0; } }
  @media only screen and (max-width: 576px) {
    .section-question {
      padding: 20px 0; } }

.title-question {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 19px; }
  @media (max-width: 991px) {
    .title-question {
      font-size: 26px; } }
  @media only screen and (max-width: 767px) {
    .title-question {
      font-size: 22px; } }

.list-question > li {
  border-bottom: 1px solid #C4C4C4; }
  .list-question > li:last-child {
    border-bottom: none; }
  .list-question > li > a {
    font-size: 16px;
    line-height: 30px;
    padding: 15px 30px 15px 0;
    display: block;
    transition: all 0.3s;
    font-weight: 500;
    position: relative; }
    .list-question > li > a i {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 23px;
      transition: all 0.3s; }
    .list-question > li > a:hover {
      color: #349A1B;
      transition: all 0.3s; }
      .list-question > li > a:hover i {
        color: #349A1B; }
  .list-question > li ul li p {
    line-height: 30px;
    margin-bottom: 13px; }
    .list-question > li ul li p:last-child {
      margin-bottom: 27px; }
  .list-question > li.rotate-up > a {
    color: #349A1B;
    transition: all 0.3s; }
    .list-question > li.rotate-up > a i {
      color: #349A1B;
      transform: translateY(-50%) rotate(180deg);
      transition: all 0.3s; }

footer {
  background: #1D262D; }
  footer .sub-foot {
    color: #A5B8AD; }

.logo-foot {
  margin-top: 47px;
  margin-bottom: 27px; }
  .logo-foot a img {
    width: 204px; }
  @media only screen and (max-width: 767px) {
    .logo-foot {
      margin-top: 35px; } }
  @media only screen and (max-width: 576px) {
    .logo-foot {
      margin-top: 25px;
      text-align: center; } }

.title-foot {
  font-size: 16px;
  line-height: 20px;
  color: #DEDEDE;
  margin-bottom: 14px;
  text-transform: uppercase; }
  @media only screen and (max-width: 576px) {
    .title-foot {
      text-align: center; } }

.list-foot li {
  margin-bottom: 10px; }
  .list-foot li a {
    color: #A5B8AD;
    transition: all 0.3s; }
    .list-foot li a:hover {
      transition: all 0.3s;
      color: #fff; }
@media only screen and (max-width: 767px) {
  .list-foot {
    margin-bottom: 30px; } }
@media only screen and (max-width: 576px) {
  .list-foot {
    text-align: center; } }

.foot-right {
  margin-top: 87px; }
  @media (max-width: 991px) {
    .foot-right {
      margin-top: 50px; } }
  @media only screen and (max-width: 767px) {
    .foot-right {
      margin-top: 35px; } }

.icon-fb, .icon-yt {
  display: inline-block; }

.icon-fb {
  margin-right: 18px; }

.copy-right {
  margin-top: 52px;
  border-top: 1px solid #424543;
  padding: 20px 0;
  color: #A5B8AD; }
  @media only screen and (max-width: 767px) {
    .copy-right {
      margin-top: 35px; } }
  @media only screen and (max-width: 576px) {
    .copy-right {
      margin-top: 25px; } }

a.btn-scrolltop {
  position: fixed;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 39px;
  color: #fff;
  background: #3a9c19;
  bottom: 15px;
  right: 15px;
  font-size: 25px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  display: none;
  transition: all 0.3s; }
  a.btn-scrolltop:hover {
    background: #44b11f;
    transition: all 0.3s; }

@media only screen and (max-width: 576px) {
  .center-mb {
    text-align: center; } }

button[data-ripple] {
  position: relative; }

.btn-call-mechanic {
  background-image: linear-gradient(to right, #349A1B 0%, #8EBD00 51%, #349A1B 100%);
  padding: 12px 24px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 100px;
  transition: all 0.5s;
  position: relative;
  background-size: 200% auto;
  box-shadow: 0px 5px 20px rgba(26, 93, 9, 0.25); }
  .btn-call-mechanic:hover {
    background-position: 100% center; }
  @media (max-width: 991px) {
    .btn-call-mechanic {
      padding: 9px 24px; } }

.btn-login {
  border: 1px solid #349A1B;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(141, 146, 139, 0.25);
  border-radius: 100px;
  background: #fff;
  padding: 11px 24px;
  margin-left: 11px;
  color: #349A1B;
  transition: all 0.3s; }
  .btn-login:hover {
    background: #349A1B;
    color: #fff;
    transition: all 0.3s; }
  @media (max-width: 991px) {
    .btn-login {
      padding: 8px 12px; } }

.btn-callnow {
  background-image: linear-gradient(to right, #349A1B 0%, #8EBD00 51%, #349A1B 100%);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: all 0.5s;
  position: relative;
  background-size: 200% auto;
  box-shadow: 0px 5px 20px rgba(26, 93, 9, 0.25); }
  .btn-callnow:hover {
    background-position: 100% center; }
  @media (max-width: 991px) {
    .btn-callnow {
      padding: 10px 20px; } }
  @media only screen and (max-width: 576px) {
    .btn-callnow {
      padding: 7px 20px;
      font-size: 14px; } }

.btn-research-more {
  background-image: linear-gradient(to right, #F09811 0%, #F2BB2C 51%, #F09811 100%);
  padding: 15px 31px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: all 0.5s;
  position: relative;
  background-size: 200% auto;
  box-shadow: 0px 5px 20px rgba(26, 93, 9, 0.25);
  margin-left: 11px; }
  .btn-research-more:hover {
    background-position: 100% center; }
  @media (max-width: 991px) {
    .btn-research-more {
      padding: 10px 20px; } }
  @media only screen and (max-width: 576px) {
    .btn-research-more {
      padding: 7px 20px;
      font-size: 14px; } }

.btn-contact {
  background-image: linear-gradient(to right, #349A1B 0%, #8EBD00 51%, #349A1B 100%);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: all 0.5s;
  position: relative;
  background-size: 200% auto;
  box-shadow: 0px 5px 20px rgba(26, 93, 9, 0.25); }
  .btn-contact:hover {
    background-position: 100% center; }
  @media (max-width: 991px) {
    .btn-contact {
      padding: 10px 20px; } }
  @media only screen and (max-width: 767px) {
    .btn-contact {
      margin-bottom: 20px; } }

button.btn-call-mechanic.call-mechanic-child {
  width: 170px; }
  @media only screen and (max-width: 767px) {
    button.btn-call-mechanic.call-mechanic-child {
      width: 140px; } }

.send-rate {
  border: 1px solid #349A1B;
  border-radius: 100px;
  background: #349A1B;
  transition: all 0.3s;
  color: #fff;
  font-weight: 500;
  width: 99px;
  height: 40px; }
  .send-rate:hover {
    background: #fff;
    color: #349A1B;
    transition: all 0.3s; }

.slick-partner .slick-slide {
  padding: 0 15px; }

.slick-partner .slick-prev:before, .slick-partner .slick-next:before, .slick-partner .slick-prev, .slick-partner .slick-next {
  display: none !important; }

/*# sourceMappingURL=main.css.map */
