ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #232323; }

a, a:hover, a:focus {
  text-decoration: none; }

p {
  margin: 0; }

input, textarea {
  -webkit-box-shadow: 0 0 0 1000px #fff inset; }

img {
  max-width: 100%; }

label {
  margin-bottom: 0; }

button {
  outline: none; }
  button:focus {
    outline: none; }

@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedMedium.eot");
  src: url("../fonts/SVN-GothamRoundedMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedMedium.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedMedium.woff") format("woff"), url("../fonts/SVN-GothamRoundedMedium.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedMedium.svg#SVN-GothamRoundedMedium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedLight.eot");
  src: url("../fonts/SVN-GothamRoundedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedLight.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedLight.woff") format("woff"), url("../fonts/SVN-GothamRoundedLight.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedLight.svg#SVN-GothamRoundedLight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedItalic.eot");
  src: url("../fonts/SVN-GothamRoundedItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedItalic.svg#SVN-GothamRoundedItalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedMediumItalic.eot");
  src: url("../fonts/SVN-GothamRoundedMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedMediumItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedMediumItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedMediumItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedMediumItalic.svg#SVN-GothamRoundedMediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedLightItalic.eot");
  src: url("../fonts/SVN-GothamRoundedLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedLightItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedLightItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedLightItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedLightItalic.svg#SVN-GothamRoundedLightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedBold.eot");
  src: url("../fonts/SVN-GothamRoundedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedBold.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedBold.woff") format("woff"), url("../fonts/SVN-GothamRoundedBold.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedBold.svg#SVN-GothamRoundedBold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedBoldItalic.eot");
  src: url("../fonts/SVN-GothamRoundedBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedBoldItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedBoldItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedBoldItalic.svg#SVN-GothamRoundedBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRounded.eot");
  src: url("../fonts/SVN-GothamRounded.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRounded.woff2") format("woff2"), url("../fonts/SVN-GothamRounded.woff") format("woff"), url("../fonts/SVN-GothamRounded.ttf") format("truetype"), url("../fonts/SVN-GothamRounded.svg#SVN-GothamRounded") format("svg");
  font-weight: normal;
  font-style: normal; }
@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes cubic-block {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  70% {
    -webkit-transform: translateY(7px);
    transform: translateY(7px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes rotate-circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
.ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; }

.rippleWave {
  position: absolute;
  border-radius: 50%;
  transform: scale(0.7);
  background: white;
  opacity: 0.45;
  animation: ripple 2s forwards; }

@keyframes ripple {
  to {
    transform: scale(24);
    opacity: 0; } }
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 17px;
  font-family: "SVN-Gotham Rounded"; }

.body-wrap {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%; }

.push {
  height: 147px; }

.dp-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.overlay {
  background: rgba(22, 73, 137, 0.3882352941);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

.container-login {
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 991px) {
    .container-login {
      width: 600px; } }
  @media only screen and (max-width: 767px) {
    .container-login {
      width: 100%; } }

.row-login {
  margin: 0 -4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-vsd {
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-pc-6 {
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative; }

.col-msb-30 {
  padding: 0 15px;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%; }
  @media (max-width: 991px) {
    .col-msb-30 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-2 {
  padding: 0 9px;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-msb-70 {
  padding: 0 15px;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%; }
  @media (max-width: 991px) {
    .col-msb-70 {
      display: none; } }

.col-login-6 {
  padding: 0 4px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.row-msb-9 {
  margin: 0 -9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-msb-22 {
  padding: 0 9px;
  -ms-flex: 0 0 22%;
  flex: 0 0 22%;
  max-width: 22%;
  position: relative; }
  @media (max-width: 1320px) {
    .col-msb-22 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (max-width: 1280px) and (min-width: 1200px) {
    .col-msb-22 {
      padding: 0 9px;
      -ms-flex: 0 0 22%;
      flex: 0 0 22%;
      max-width: 22%;
      position: relative; } }

.col-msb-78 {
  padding: 0 9px;
  -ms-flex: 0 0 78%;
  flex: 0 0 78%;
  max-width: 78%;
  position: relative; }
  @media (max-width: 1320px) {
    .col-msb-78 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (max-width: 1280px) and (min-width: 1200px) {
    .col-msb-78 {
      padding: 0 9px;
      -ms-flex: 0 0 78%;
      flex: 0 0 78%;
      max-width: 78%;
      position: relative; } }

.col-msb-12 {
  padding: 0 9px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative; }

.row-pc {
  margin: 0 -9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-pc-3 {
  padding: 0 9px;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }
  @media only screen and (max-width: 767px) {
    .col-pc-3 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-4 {
  padding: 0 9px;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%; }
  @media only screen and (max-width: 767px) {
    .col-pc-4 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-6 {
  padding: 0 9px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }
  @media only screen and (max-width: 767px) {
    .col-pc-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-8 {
  padding: 0 9px;
  -ms-flex: 0 0 66.6666%;
  flex: 0 0 66.6666%;
  max-width: 66.6666%; }
  @media only screen and (max-width: 767px) {
    .col-pc-8 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-pc-12 {
  padding: 0 9px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.container-newadd {
  max-width: 1236px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px; }

.col-msb-44 {
  padding: 0 9px;
  -ms-flex: 0 0 44%;
  flex: 0 0 44%;
  max-width: 44%;
  position: relative; }

.col-msb-12x {
  padding: 0 9px;
  -ms-flex: 0 0 12%;
  flex: 0 0 12%;
  max-width: 12%;
  position: relative; }

.row-flex-between {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between; }

.container {
  max-width: 1119px;
  padding: 0 15px;
  width: 100%; }

.line-main {
  background: #707070;
  width: 18px;
  height: 3px;
  border-radius: 10px;
  display: block;
  margin-bottom: 3px;
  pointer-events: none;
  transition: all 0.3s; }
  .line-main:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 1600px) {
    .line-main {
      width: 20px;
      height: 3px;
      margin-bottom: 4px; } }
  @media only screen and (max-width: 1366px) {
    .line-main {
      width: 20px;
      height: 3px;
      margin-bottom: 4px; } }

.change-icon-mb .line-1 {
  transform: translateY(9px) translateX(0) rotate(45deg);
  transition: all 0.3s; }
  @media only screen and (max-width: 1600px) {
    .change-icon-mb .line-1 {
      transform: translateY(8px) translateX(0) rotate(45deg); } }
.change-icon-mb .line-2 {
  opacity: 0;
  transition: all 0.3s; }
.change-icon-mb .line-3 {
  transform: translateY(-9px) translateX(0) rotate(-46deg);
  transition: all 0.3s; }
  @media only screen and (max-width: 1600px) {
    .change-icon-mb .line-3 {
      transform: translateY(-6px) translateX(0) rotate(-46deg); } }

.logo {
  float: left;
  padding: 15px 0; }
  .logo h1 {
    margin-bottom: 0; }

.head-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 9;
  transition: all 0.3s; }
  .head-top.fixed {
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.14);
    transition: all 0.3s; }
  .head-top.fixed-page-child {
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.14);
    transition: all 0.3s; }

#wrapper {
  position: relative; }

header {
  height: 783px;
  background: url("../img/banner.png") no-repeat center center;
  background-size: contain;
  position: relative;
  overflow: hidden; }

.banner-left, .banner-bottom, .banner-right, .banner-top {
  position: absolute;
  top: 29%;
  left: 11%; }

.banner-left {
  top: auto;
  bottom: 2%;
  left: 4%; }

.banner-bottom {
  top: auto;
  left: 33%;
  bottom: 2%; }

.banner-right {
  top: auto;
  left: auto;
  bottom: 5%;
  right: 20%; }

.banner-top {
  top: 0;
  left: auto;
  right: 12%; }

.sub-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .sub-banner .slogan {
    font-size: 48px;
    line-height: 44px;
    margin-bottom: 24px; }
  .sub-banner .sub-slogan {
    font-size: 22px;
    line-height: 27px;
    color: #4A4A4A;
    margin-bottom: 33px; }

.head-right {
  float: right;
  padding: 22px 0;
  display: flex;
  align-items: center; }
  .head-right .navigation {
    display: inline-block; }
    .head-right .navigation .menu > li {
      float: left;
      margin-right: 2px;
      position: relative; }
      .head-right .navigation .menu > li:last-child {
        margin-right: 0; }
      .head-right .navigation .menu > li > a {
        display: block;
        padding: 9px 14px;
        background: transparent;
        border-radius: 100px;
        color: #202020; }
        .head-right .navigation .menu > li > a i {
          color: #202020;
          margin-left: 6px; }
      .head-right .navigation .menu > li:hover > a {
        background: #E5EBE4;
        color: #202020; }
      .head-right .navigation .menu > li .dropdown-child {
        width: 183px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 80px;
        transition: all 0.3s;
        border-radius: 10px;
        overflow: hidden; }
        .head-right .navigation .menu > li .dropdown-child li {
          display: block; }
          .head-right .navigation .menu > li .dropdown-child li a {
            background: #349a1b;
            display: block;
            color: #fff;
            padding: 10px 14px; }
            .head-right .navigation .menu > li .dropdown-child li a:hover {
              background: rgba(52, 154, 27, 0.78); }
      .head-right .navigation .menu > li:hover .dropdown-child {
        top: 35px;
        transition: all 0.3s;
        opacity: 1;
        visibility: visible; }
  .head-right .btn-blockx {
    display: inline-block;
    margin-left: 34px; }

section.about-us {
  background: #F8F8F8;
  padding: 132px 0 102px; }

.txt-sc {
  color: #349A1B;
  margin-bottom: 16px;
  text-transform: uppercase; }

.title-section {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 13px;
  font-weight: 500; }

.sub-title {
  font-size: 18px;
  line-height: 26px;
  color: #4A4A4A;
  margin-bottom: 44px; }

.sub-title-bottom {
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  margin-bottom: 57px; }

.list-services li {
  width: 250px;
  height: 221px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(213, 219, 222, 0.3);
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 29px;
  float: left; }
  .list-services li img {
    display: block; }
  .list-services li .txt-services {
    font-size: 18px;
    line-height: 20px;
    text-align: center; }
  .list-services li:nth-child(1) img {
    margin: 20px auto 16px; }
  .list-services li:nth-child(2) {
    margin-right: 0;
    margin-top: -30px; }
    .list-services li:nth-child(2) img {
      margin: 23px auto 15px; }
  .list-services li:nth-child(3) img {
    margin: 24px auto 15px; }
  .list-services li:nth-child(4) {
    margin-right: 0;
    margin-top: -30px; }
    .list-services li:nth-child(4) img {
      margin: 23px auto 15px; }

.section-procedure {
  padding: 100px 0;
  background: url("../img/produce.png") no-repeat;
  background-position: 100% 100%;
  background-size: contain;
  overflow: hidden; }
  .section-procedure .title-section {
    margin-bottom: 49px; }

.list-procedure li {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .list-procedure li:last-child {
    margin-bottom: 0; }
  .list-procedure li .number-order {
    font-size: 24px;
    width: 50px;
    height: 50px;
    background: #349A1B;
    color: #fff;
    border-radius: 50%;
    display: block;
    margin-right: 28px;
    text-align: center;
    line-height: 50px; }
  .list-procedure li .block-step {
    background: #F8F8F8;
    border-radius: 3px;
    padding: 29px 23px 18px;
    width: 652px; }
    .list-procedure li .block-step .name-step {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 4px; }
    .list-procedure li .block-step .sub-step {
      font-size: 14px;
      line-height: 20px;
      overflow: hidden;
      -webkit-box-orient: vertical;
      white-space: normal;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      margin-bottom: 7px; }

.section-app {
  padding: 130px 0;
  background: #F8F8F8;
  overflow: hidden; }

.title-app {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: 500; }
  .title-app span {
    color: #349A1B; }

.list-utilies li {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 35px; }
  .list-utilies li i {
    color: #349A1B;
    margin-right: 24px; }
  .list-utilies li:last-child {
    margin-bottom: 51px; }

.down-experience {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
  color: #349A1B; }
  .down-experience:hover {
    text-decoration: underline;
    color: #349A1B; }

.icon-phone {
  float: right;
  padding-right: 60px; }

.section-partner {
  padding: 98px 0; }
  .section-partner .title-section {
    margin-bottom: 76px; }

.box-img-partner {
  float: left;
  height: 165px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 0px #000;
  display: flex;
  align-items: center; }
  .box-img-partner img {
    display: block;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); }

.block-name {
  float: left;
  margin-top: 55px; }
  .block-name .name-partner {
    font-size: 23px; }
  .block-name .sub-partner {
    color: #a3a1a1; }

.txt-partner {
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .txt-partner p {
    padding: 15px 30px;
    text-align: center;
    line-height: 22px; }
  .txt-partner .qoute-left {
    position: absolute;
    left: 0;
    bottom: 0; }
  .txt-partner .qoute-right {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg); }

.slick-partner .slick-dots {
  bottom: -65px; }
.slick-partner .slick-dots li button:before {
  width: 10px;
  height: 10px;
  background: #3a9c19;
  border-radius: 50%;
  font-family: unset;
  content: '';
  border: 1px solid #3a9c19;
  padding: 2px; }

.banner-services {
  padding-top: 85px; }

.section-detail-services {
  padding: 100px 0 50px; }

.title-page-child {
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 27px;
  position: relative;
  margin-bottom: 30px; }
  .title-page-child:after {
    content: '';
    width: 85px;
    height: 5px;
    background: #349A1B;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    left: 0; }

.box-services {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);
  border-radius: 5px;
  padding: 47px 29px; }
  .box-services .sub-services {
    font-size: 14px;
    line-height: 20px;
    color: #898989;
    text-align: center; }

.title-services {
  font-size: 22px;
  line-height: 27px;
  color: #349A1B;
  margin-bottom: 30px; }

.main-page-child {
  background: #F8F8F8; }

.section-price {
  padding: 50px 0; }
  .section-price .title-page-child {
    margin-bottom: 36px; }

.block-price {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);
  border-radius: 5px;
  padding: 3px 32px; }
  .block-price .item-pro {
    padding: 21px 0;
    border-top: 1px dashed #DADADA;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 15px; }
    .block-price .item-pro .item-services {
      color: #4D4D4D;
      font-weight: 500; }
    .block-price .item-pro .txt-price {
      font-weight: 500;
      color: #F89F17; }

.mg-15 {
  margin: 0 -15px; }

.br-top-none:first-child item-pro, .br-top-none:nth-child(2) item-pro {
  border-top: none; }

footer {
  background: #1D262D; }
  footer .sub-foot {
    color: #A5B8AD; }

.logo-foot {
  margin-top: 47px;
  margin-bottom: 27px; }

.title-foot {
  font-size: 16px;
  line-height: 20px;
  color: #DEDEDE;
  margin-bottom: 14px;
  text-transform: uppercase; }

.list-foot li {
  margin-bottom: 10px; }
  .list-foot li a {
    color: #A5B8AD;
    transition: all 0.3s; }
    .list-foot li a:hover {
      transition: all 0.3s;
      color: #fff; }

.foot-right {
  margin-top: 87px; }

.icon-fb, .icon-yt {
  display: inline-block; }

.icon-fb {
  margin-right: 18px; }

.copy-right {
  margin-top: 52px;
  border-top: 1px solid #424543;
  padding: 20px 0;
  color: #A5B8AD; }

a.btn-scrolltop {
  position: fixed;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 39px;
  color: #fff;
  background: #3a9c19;
  bottom: 15px;
  right: 15px;
  font-size: 25px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  display: none;
  transition: all 0.3s; }
  a.btn-scrolltop:hover {
    background: #44b11f;
    transition: all 0.3s; }

button[data-ripple] {
  position: relative; }

.btn-call-mechanic {
  background-image: linear-gradient(to right, #349A1B 0%, #8EBD00 51%, #349A1B 100%);
  padding: 12px 24px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 100px;
  transition: all 0.5s;
  position: relative;
  background-size: 200% auto;
  box-shadow: 0px 5px 20px rgba(26, 93, 9, 0.25); }
  .btn-call-mechanic:hover {
    background-position: 100% center; }

.btn-login {
  border: 1px solid #349A1B;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(141, 146, 139, 0.25);
  border-radius: 100px;
  background: #fff;
  padding: 11px 24px;
  margin-left: 11px;
  color: #349A1B;
  transition: all 0.3s; }
  .btn-login:hover {
    background: #349A1B;
    color: #fff;
    transition: all 0.3s; }

.btn-callnow {
  background-image: linear-gradient(to right, #349A1B 0%, #8EBD00 51%, #349A1B 100%);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: all 0.5s;
  position: relative;
  background-size: 200% auto;
  box-shadow: 0px 5px 20px rgba(26, 93, 9, 0.25); }
  .btn-callnow:hover {
    background-position: 100% center; }

.btn-research-more {
  background-image: linear-gradient(to right, #F09811 0%, #F2BB2C 51%, #F09811 100%);
  padding: 15px 31px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: all 0.5s;
  position: relative;
  background-size: 200% auto;
  box-shadow: 0px 5px 20px rgba(26, 93, 9, 0.25);
  margin-left: 11px; }
  .btn-research-more:hover {
    background-position: 100% center; }

.btn-contact {
  background-image: linear-gradient(to right, #349A1B 0%, #8EBD00 51%, #349A1B 100%);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: all 0.5s;
  position: relative;
  background-size: 200% auto;
  box-shadow: 0px 5px 20px rgba(26, 93, 9, 0.25); }
  .btn-contact:hover {
    background-position: 100% center; }

.slick-partner .slick-slide {
  padding: 0 15px; }

/*# sourceMappingURL=main.css.map */
