// ======================================================
// Layout :: Content
// ======================================================

section.about-us{
  background: #F8F8F8;
  padding: 132px 0 102px;
  overflow: hidden;
  @include tablet{
    padding: 50px 0 50px;
  }
  @include mobile-horizontal{
     padding: 25px 0;
   }
  @include mobile{
    padding: 20px 0;
  }
}
.txt-sc{
  color: #349A1B;
  margin-bottom: 16px;
  text-transform: uppercase;
  @include mobile{
    margin-bottom: 10px;
  }
}
.title-section{
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 13px;
  font-weight: 500;
  @include tablet{
    font-size: 26px;
  }

  @include mobile-horizontal{
    font-size: 22px;
    line-height: 29px;
  }
  @include mobile{
    font-size: 18px;
  }
}
.sub-title{
  font-size: 18px;
  line-height: 26px;
  color: #4A4A4A;
  margin-bottom: 44px;
  @include tablet{
    margin-bottom: 15px;
  }
}
.sub-title-bottom{
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  margin-bottom: 57px;
  @include tablet{
    margin-bottom: 37px;
  }
  @include mobile-horizontal{
    margin-bottom: 25px;
  }
}
.list-services{
  li{
    width: 250px;
    height: 221px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(213, 219, 222, 0.3);
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 29px;
    float: left;
    @include tablet-horizontal{
      width: 200px;
      height: 186px;
    }
    @include tablet{
      width: 170px;
      height: 170px;
      margin-right: 7px;
      margin-bottom: 10px;
    }
    @include mobile-horizontal{
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
    @include mobile{
      display: flex;
      align-items: center;
      height: auto;
    }
    img{
      display: block;
      @include mobile{
        margin: 0;
      }
    }
    .txt-services{
      font-size: 18px;
      line-height: 20px;
      text-align: center;
    }
    &:nth-child(1){
      img{
        margin: 20px auto 16px;
        @include tablet-horizontal{
          width: 110px;
        }
        @include mobile{
          margin: 15px;
        }
      }
    }
    &:nth-child(2){
      margin-right: 0;
      margin-top: -30px;
      @include tablet-horizontal{
        margin-top: 0;
      }
      img{
        margin: 23px auto 15px;
        @include tablet-horizontal{
          width: 110px;
        }
        @include mobile{
          margin: 15px;
        }
      }
    }
    &:nth-child(3){
      img{
        margin: 24px auto 15px;
        @include tablet-horizontal{
          width: 110px;
        }
        @include mobile{
          margin: 15px;
        }
      }
    }
    &:nth-child(4){
      margin-right: 0;
      margin-top: -30px;
      @include tablet-horizontal{
        margin-top: 0;
      }
      img{
        margin: 23px auto 15px;
        @include tablet-horizontal{
          width: 110px;
        }
        @include mobile{
          margin: 15px;
        }
      }
    }
  }
}
.section-procedure{
  padding: 100px 0;
  background: #fff url("../img/produce.png") no-repeat;
  background-position: 100% 100%;
  background-size: contain;
  overflow: hidden;
  .title-section{
    margin-bottom: 49px;
    @include mobile-horizontal{
      margin-bottom: 30px;
    }
    @include mobile{
      margin-bottom: 20px;
    }
  }
  @include tablet{
    padding: 50px 0;
  }
  @include mobile-horizontal{
    padding: 25px 0;
  }
  @include mobile{
    padding: 20px 0;
    background: #fff;
  }

}
.list-procedure{
  li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
    .number-order{
      font-size: 24px;
      width: 50px;
      height: 50px;
      background: #349A1B;
      color: #fff;
      border-radius: 50%;
      display: block;
      margin-right: 28px;
      text-align: center;
      line-height: 50px;
      @include mobile{
        display: none;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
    .block-step{
      background: #F8F8F8;
      border-radius: 3px;
      padding: 29px 23px 18px;
      width: 652px;
      @include tablet{
        width: calc(100% - 78px);
        padding: 15px 15px 15px;
      }
      @include mobile-horizontal{
        padding: 15px 15px 15px;
      }
      @include mobile{
        width: 100%;
      }
      .name-step{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 4px;
        span{
          display: none;
        }
        @include tablet{
          font-size: 20px;
        }
        @include mobile-horizontal{
          font-size: 18px;
        }
        @include mobile{
          font-size: 16px;
          span{
            display: inline;
            color: #349a1b;
          }
        }
      }
      .sub-step{
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        margin-bottom: 7px;
      }
    }
    @include mobile{
      flex-direction: column;
    }
  }
}

.section-app{
  padding: 130px 0;
  background: #F8F8F8;
  overflow: hidden;
  @include tablet{
    padding: 50px 0;
  }
  @include mobile-horizontal{
    padding: 25px 0;
  }
  @include mobile{
    padding: 20px 0;
  }
}
.title-app{
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: 500;
  span{
    color: #349A1B;
  }
  @include tablet{
    font-size: 26px;
    margin-bottom: 30px;
  }
  @include mobile-horizontal{
    font-size: 22px;
    margin-bottom: 20px;
  }
  @include mobile{
    line-height: 29px;
    font-size: 18px;
  }
}
.list-utilies{
  li{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
    i{
      color: #349A1B;
      margin-right: 24px;
    }
    &:last-child{
      margin-bottom: 51px;
    }
    @include tablet{
      margin-bottom: 20px;
      i{
        float: left;
        margin-top: 7px;
      }
      span{
        width: calc(100% - 40px);
        float: left;
      }
      &:after{
        content: '';
        clear: both;
        display: table;
      }
      &:last-child{
        margin-bottom: 30px;
      }
    }
    @include mobile{
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 25px;
      }
    }
  }
}
.down-experience{
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
  color: #349A1B;
  &:hover{
    text-decoration: underline;
    color: #349A1B;
  }
  @include mobile-horizontal{
    margin-bottom: 15px;
  }
}
.icon-phone{
  float: right;
  padding-right: 60px;
  @include tablet{
    padding-right: 0;
  }
}



.section-partner{
  padding: 98px 0;
  .title-section{
    margin-bottom: 76px;
    @include tablet{
      margin-bottom: 30px;
    }
  }
  @include tablet{
    padding: 50px 0;
  }
  @include mobile-horizontal{
    padding: 25px 0;
  }
  @include mobile{
    padding: 20px 0;
    img{
      display: block;
      margin: 0 auto;
      @include mobile{
        width: 28px;
      }
    }
  }
}

.box-img-partner{
  float: left;
  height: 165px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 0px #000;
  display: flex;
  align-items: center;
  img{
    display: block;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  }
}
.block-name{
  float: left;
  margin-top: 55px;
  .name-partner{
    font-size: 23px;
    @include mobile-horizontal{
      font-size: 20px;
    }
    @include mobile{
      font-size: 16px;
    }

  }
  @include mobile{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .sub-partner {
    color: #a3a1a1;
    @include mobile{
      text-align: center;
    }
  }
}
.txt-partner{
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    padding: 15px 30px;
    text-align: center;
    line-height: 22px;
  }
  .qoute-left{
    position: absolute;
    left: 0;
    bottom: 0;
    @include mobile-horizontal{
      left: 15px;
    }
  }
  .qoute-right{
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg);
    @include mobile-horizontal{
      right: 15px;
    }
  }
}

.slick-partner{
  .slick-dots {
    bottom: -65px;
    @include mobile-horizontal{
      bottom: -31px;
    }
  }
  .slick-dots li button:before {
    width: 10px;
    height: 10px;
    background: #3a9c19;
    border-radius: 50%;
    font-family: unset;
    content: '';
    border: 1px solid #3a9c19;
    padding: 2px;
  }
}



//style page child
.main-page-child{
  //padding-top: 85px;
}
.banner-services{
  padding-top: 85px;
  @include tablet{
    padding-top: 53px;
    img{
      padding-top: 0;
    }
  }
}
.section-detail-services{
  padding: 50px 0 50px;
  @include tablet{
    padding: 50px 0;
  }
  @include mobile-horizontal{
    padding: 25px 0;
  }
  @include mobile{
    padding: 20px 0;
    .col-md-4.col-sm-6:last-child{
      .box-services{
        margin-bottom: 0;
      }
    }
  }
}
.title-page-child{
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 27px;
  position: relative;
  margin-bottom: 30px;
  @include tablet{
    font-size: 25px;
    padding-bottom: 8px;
    margin-bottom: 30px;
  }
  @include mobile-horizontal{
    font-size: 22px;
  }
  @include mobile{
    font-size: 18px;
    line-height: 26px;
  }
  &:after{
    content: '';
    width: 85px;
    height: 5px;
    background: #349A1B;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.box-services{
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);
  border-radius: 5px;
  padding: 47px 29px;
  .sub-services{
    font-size: 14px;
    line-height: 20px;
    color: #898989;
    text-align: center;
  }
  @include tablet{
    padding: 25px 15px;
  }
  @include mobile-horizontal{
    margin-bottom: 30px;
  }
  @include mobile{
    margin-bottom: 20px;
  }
}
.title-services{
  font-size: 22px;
  line-height: 27px;
  color: #349A1B;
  margin-bottom: 30px;
  text-align: center;
  @include tablet{
    font-size: 20px;
    margin-bottom: 15px;
  }
  @include mobile-horizontal{
    font-size: 18px;
  }
  @include mobile{
    font-size: 16px;
  }
}
.main-page-child{
  background: #F8F8F8;
}



.section-price{
  padding: 50px 0;
  .title-page-child{
    margin-bottom: 36px;
    @include mobile{
      margin-bottom: 30px;
    }
  }
  @include tablet{
    padding: 50px 0;
  }
  @include mobile-horizontal{
    padding: 25px 0;
  }
  @include mobile{
    padding: 20px 0;

  }

}
.block-price{
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);
  border-radius: 5px;
  padding: 3px 32px;
  margin-bottom: 30px;
  @include mobile{
    margin-bottom: 10px;
  }
  .item-pro{
    padding: 21px 0;
    border-top: 1px dashed #DADADA;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 15px;
    @include mobile{
      margin: 0;
    }

    .item-services{
      color: #4D4D4D;
      font-weight: 500;
      @include mobile-horizontal{
        margin-bottom: 15px;
      }
    }
    .txt-price{
      font-weight: 500;
      color: #F89F17;
    }
  }
  @include tablet{
    padding: 3px 15px;
  }
}
.mg-15{
  margin: 0 -15px;
}
.br-top-none{
  &:first-child,&:nth-child(2){
    .item-pro{
      border-top: none;
    }
  }
  @include mobile-horizontal{
    &:nth-child(2){
      .item-pro{
        border-top: 1px dashed #dadada;
      }
    }
  }
}





.block-white{
  background: #FFFFFF;
  border-radius: 3px;
  padding: 59px 32px;
  @include tablet{
    padding: 50px 15px;
  }
  @include mobile-horizontal{
    padding: 25px 15px;
  }
  @include mobile{
    padding: 20px 15px;
  }
}
.rate-pp{
  display: flex;
  align-items: center;
  padding-bottom: 26px;
  border-bottom: 1px solid #DADADA;
  margin-bottom: 30px;
  .point-rate{
    font-size: 72px;
    line-height: 57px;
    margin-right: 17px;
    font-weight: 500;
    @include tablet{
      font-size: 55px;
    }
    @include mobile-horizontal{
      font-size: 45px;
    }
  }
  @include mobile-horizontal{
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
}
.star-rate{
  i{
    color: #C4C4C4;
    font-size: 34px;
    margin-right: 7px;
    @include tablet{
      font-size: 30px;
    }
    @include mobile-horizontal{
      font-size: 25px;
    }
  }
  .start-rated{
    color: #EDAE65;
  }
}
.rate-right{
  .star-rate{
    margin-bottom: 8px;
  }
  .number-pp-rate{
    color: #4D4D4D;
  }
}
.your-rate{
  margin-bottom: 5px;
  .star-rate{
    margin-bottom: 12px;
    i{
      font-size: 25px;
    }
    @include mobile-horizontal{
      i{
        font-size: 20px;
      }
    }
  }
  .txt-your-rate{
    height: 102px;
    border: 1px solid #898989;
    border-radius: 3px;
    margin-bottom: 19px;
    width: 100%;
    resize: vertical;
    padding: 14px 11px;
  }
}
.item-comment{
  border-bottom: 1px solid #DADADA;
  padding: 25px 0;
  @include mobile-horizontal{
    padding: 20px 0;
  }
  @include mobile{
    padding: 15px 0;
  }
  &:last-child{
    border-bottom: none;
  }
  .name-cmt{
    margin-bottom: 4px;
    span{
      font-size: 16px;
      line-height: 20px;
      margin-right: 5px;
    }
    .star-rate{
      display: inline-block;
      i{
        font-size: 14px;
        margin-right: 0;
      }
    }
  }
  .date-cmt{
    font-size: 10px;
    line-height: 12px;
    color: #898989;
    margin-bottom: 11px;
  }
  .txt-cmt{
    line-height: 20px;
    color: #4D4D4D;
  }
}
.fix-100{
  height: 100px;
  clear: both;
  @include tablet{
    height: 50px;
  }
  @include mobile-horizontal{
    height: 25px;
  }
  @include mobile{
    height: 20px;
  }
}

.banner-services{
  position: relative;

}
.bread-crumb{
  //position: absolute;
  //top: 85px;
  //left: 0;
  //width: 100%;
  //@include tablet{
  //  top: 53px;
  //}
  ul{
    padding: 20px 0 0;
    li{
      display: inline-block;
      a{
        font-size: 13px;
        line-height: 15px;
        color: #7a7a7a;
        &:hover{
          color: #349A1B;
          text-decoration: underline;
        }
        @include mobile-horizontal{
          font-size: 13px;
        }

      }
      i{
        margin: 0 10px;
        color: #7a7a7a;
      }
    }
  }
}
.bg-white{
  background: #fff;

}
.bread-crumb.bg-white{
  @include mobile-horizontal{
    ul{
      padding: 20px 0;
    }

  }
}


.box-call{
  width: 682px;
  position: absolute;
  top: 176px;
  left: calc((100% - 1140px)/2);
  .block-call{
    background: #FFFFFF;
    padding: 47px 29px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);
    @include mobile-horizontal{
      padding: 20px 15px;
    }
  }
  @media (max-width: 1300px) {
    position: unset;
    margin-top: 50px;
    width: 100%;
    padding: 0 15px;
  }
  @include mobile-horizontal{
    margin-top: 20px;
  }
  //@include mobile{
  //  margin-top: 15px;
  //}
}
.item-info{
  margin-bottom: 20px;
  label{
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 9px;
    display: block;
    span{
      color: red;
    }
  }
  input,select,textarea{
    border: 1px solid #898989;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 5px 20px;
    -webkit-appearance: none;
  }
  textarea{
    height: 135px;
  }
  i.fas.fa-angle-down{
      &.active{
        transform: rotate(180deg);
        margin-top: -8px;
      }
    }
}

.box-field{
  position: relative;
  i{
    color: #898989;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

.box-zone{
  display: flex;
  align-items: center;
  .name-from{
    width: 50px;
    float: left;
  }
  .box-field{
    width: calc(100% - 50px);
  }
  @include mobile-horizontal{
    margin-bottom: 20px;
  }
}
.fix-252{
  height: 280px;
  background: #fff;
  @media (max-width: 1366px) {
    height: 365px;
  }
  @media (max-width: 1300px) {

    height: 20px;
  }
  @include mobile-horizontal{
    height: 0;
  }

}

.section-question{
  padding: 113px 0 80px;
  @include tablet{
    padding: 50px 0;
  }
  @include mobile-horizontal{
    padding: 25px 0;
  }
  @include mobile{
    padding: 20px 0;
  }

}
.title-question{
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 19px;
  @include tablet{
    font-size: 26px;
  }
  @include mobile-horizontal{
    font-size: 22px;
  }
  @include mobile{
    margin-bottom: 5px;
  }
}
.list-question{
  >li{
    border-bottom: 1px solid #C4C4C4;
    &:last-child{
      border-bottom: none;
    }
    >a{
      font-size: 16px;
      line-height: 30px;
      padding: 15px 30px 15px 0;
      display: block;
      transition: all 0.3s;
      font-weight: 500;
      position: relative;
      i{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 23px;
        transition: all 0.3s
      }
      &:hover{
        color: #349A1B;
        transition: all 0.3s;
        i{
          color: #349A1B;
        }
      }
      @include mobile{
        font-size: 14px;
        line-height: 19px;
        i{
          font-size: 15px;
        }
      }

    }
    ul{
      li{
        p{
          line-height: 30px;
          margin-bottom: 13px;
          &:last-child{
            margin-bottom: 27px;
          }
        }
      }
    }
    &.rotate-up{
      >a{
        color: #349A1B;
        transition: all 0.3s;
        i{
          color: #349A1B;
          transform: translateY(-50%) rotate(180deg);
          transition: all 0.3s;
        }
      }
    }
  }
}