// ======================================================
// Layout :: Footer
// ======================================================

footer{
  background: #1D262D;
  .sub-foot{
    color: #A5B8AD;
  }
}
.logo-foot{
  margin-top: 47px;
  margin-bottom: 27px;
  a{
    img{
      width: 204px;
    }
  }
  @include mobile-horizontal{
    margin-top: 35px;
  }
  @include mobile{
    margin-top: 25px;
    //text-align: center;
  }
}
.title-foot{
  font-size: 16px;
  line-height: 20px;
  color: #DEDEDE;
  margin-bottom: 14px;
  text-transform: uppercase;
  //@include mobile{
  //  text-align: center;
  //}
}
.list-foot{
  li{
    margin-bottom: 10px;
    a{
      color: #A5B8AD;
      transition: all 0.3s;
      &:hover{
        transition: all 0.3s;
        color: #fff;
      }
    }
  }
  @include mobile-horizontal{
    margin-bottom: 30px;
  }
  //@include mobile{
  //  text-align: center;
  //}
}
.foot-right{
  margin-top: 87px;
  @include tablet{
    margin-top: 50px;
  }
  @include mobile-horizontal{
    margin-top: 35px;
  }
}
.icon-fb,.icon-yt{
  display: inline-block;
}
.icon-fb{
  margin-right: 18px;
}
.copy-right{
  margin-top: 52px;
  border-top: 1px solid #424543;
  padding: 20px 0;
  color: #A5B8AD;
  @include mobile-horizontal{
    margin-top: 35px;
  }
  @include mobile{
    margin-top: 25px;
  }
}

a.btn-scrolltop {
  position: fixed;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 39px;
  color: #fff;
  background: #3a9c19;
  bottom: 15px;
  right: 15px;
  font-size: 25px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  display: none;
  transition: all 0.3s;
  &:hover{
    background: #44b11f;
    transition: all 0.3s;
  }
}
//.center-mb{
//  @include mobile{
//    text-align: center;
//  }
//}