// ======================================================
// Layout :: Header
// ======================================================


//css line
.line-main{
  background: #707070;
  width: 18px;
  height: 3px;
  border-radius: 10px;
  display: block;
  margin-bottom: 3px;
  pointer-events: none;
  transition: all 0.3s;
  &:last-child{
    margin-bottom: 0;
  }
  @include lessdesktop{
    width: 20px;
    height: 3px;
    margin-bottom: 4px;
  }
  @include desktop-small{
    width: 20px;
    height: 3px;
    margin-bottom: 4px;
  }
}
.change-icon-mb{
  .line-1{
    transform: translateY(9px) translateX(0) rotate(45deg);
    transition: all 0.3s;
    @include lessdesktop{
      transform: translateY(8px) translateX(0) rotate(45deg);
    }
  }
  .line-2{
    opacity: 0;
    transition: all 0.3s;
  }
  .line-3{
    transform: translateY(-9px) translateX(0) rotate(-46deg);
    transition: all 0.3s;
    @include lessdesktop{
      transform: translateY(-6px) translateX(0) rotate(-46deg);
    }
  }
}

.logo{
  float: left;
  padding: 15px 0;
  h1{
    margin-bottom: 0;
    a{
      img{
        width: 204px;
      }
    }
  }
}
.head-top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 9;
  transition: all 0.3s;
  &.fixed{
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.14);
    transition: all 0.3s;
  }
  &.fixed-page-child{
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.14);
    transition: all 0.3s;
  }
}
#wrapper{
  position: relative;
}
header{
  //height: 783px;
  //background: url("../img/banner.png") no-repeat center center;
  //background-size: contain;
  position: relative;
  overflow: hidden;
}
.banner-left,.banner-bottom,.banner-right,.banner-top{
  position: absolute;
  top: 29%;
  left: 11%;
}
.banner-left{
  top: auto;
  bottom: 2%;
  left: 4%;
}
.banner-bottom{
  top: auto;
  left: 33%;
  bottom: 2%;
}
.banner-right{
  top: auto;
  left: auto;
  bottom: 5%;
  right: 20%;
}
.banner-top{
  top: 0;
  left: auto;
  right: 12%;
}
.sub-banner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  .slogan{
    font-size: 48px;
    line-height: 44px;
    margin-bottom: 24px;
  }
  .sub-slogan{
    font-size: 22px;
    line-height: 27px;
    color: #4A4A4A;
    margin-bottom: 33px;
  }
  .btn-sub{

  }
}
