// ======================================================
// Layout :: Header
// ======================================================


//css line
.line-main{
  background: #707070;
  width: 18px;
  height: 3px;
  border-radius: 10px;
  display: block;
  margin-bottom: 3px;
  pointer-events: none;
  transition: all 0.3s;
  &:last-child{
    margin-bottom: 0;
  }
  @include lessdesktop{
    width: 20px;
    height: 3px;
    margin-bottom: 4px;
  }
  @include desktop-small{
    width: 20px;
    height: 3px;
    margin-bottom: 4px;
  }
}
.change-icon-mb{
  .line-1{
    transform: translateY(9px) translateX(0) rotate(45deg);
    transition: all 0.3s;
    @include lessdesktop{
      transform: translateY(8px) translateX(0) rotate(45deg);
    }
  }
  .line-2{
    opacity: 0;
    transition: all 0.3s;
  }
  .line-3{
    transform: translateY(-9px) translateX(0) rotate(-46deg);
    transition: all 0.3s;
    @include lessdesktop{
      transform: translateY(-6px) translateX(0) rotate(-46deg);
    }
  }
}


